@model List<TDStore.Models.CartItem>
<div class="shopping-cart section">
    <div class="container">
      
        <div class="cart-list-head">
@if (Model != null)
            {
            <div class="cart-list-title">
                <div class="row">
                    <div class="col-lg-1 col-md-1 col-12">
                    </div>
                    <div class="col-lg-4 col-md-3 col-12">
                        <p>Product Name</p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-12">
                        <p>Quantity</p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-12">
                        <p>Price</p>
                    </div>
                    <div class="col-lg-2 col-md-2 col-12">
                        <p>Discounted</p>
                    </div>
                    <div class="col-lg-1 col-md-2 col-12">
                        <p>Remove</p>
                    </div>
                </div>
            </div>
            
                foreach (var item in Model)
                {
                    <div class="cart-single-list">
                        <div class="row align-items-center">
                            <div class="col-lg-1 col-md-1 col-12">
                                <a href="product-details.html"><img alt="#" src="data:@item.ImageData.FileType;base64,@Convert.ToBase64String(item.ImageData.Data)">
</a>
                            </div>
                            <div class="col-lg-4 col-md-3 col-12">
                                <h5 class="product-name">
                                    <a asp-action="Details" asp-controller="Product" asp-route-id="@item.ID">
                                        @item.Name
                                    </a>
                                </h5>
                                <p class="product-des">
                                 <span><em>Type:</em>@item.Inventory.Name</span>
                                 <span><em>Color:</em>@item.Inventory.Color</span>
                        </p>
                            </div>
                            <div class="col-lg-2 col-md-2 col-12">
                                <div class="count-input">
                                    <input type="number" class="form-control" value="@item.Quantity" disabled>
                                        
                                </div>
                            </div>
                           
                                <div class="col-lg-2 col-md-2 col-12">
                                    <p>@((item.Price*item.Quantity).ToString("#,##0"))đ</p>
                                </div>
                            

                            <div class="col-lg-2 col-md-2 col-12">
                                <p>@(((item.Price*item.Quantity*item.Discount)/100).ToString("#,##0")) đ</p>
                            </div>
                            <div class="col-lg-1 col-md-2 col-12">
                                <a class="remove-item" data-id="@item.ID"><i class="lni lni-close"></i></a>
                            </div>
                        </div>
                    </div>
                }
            <div class="row">
                <div class="col-12">

                    <div class="total-amount">
                        <div class="row">
                            <div class="col-lg-8 col-md-6 col-12">
                                <div class="left">
                                    <div class="coupon">
                                        <form action="#" target="_blank">
                                            <input name="Coupon" placeholder="Enter Your Coupon">
                                            <div class="button">
                                                <button class="btn">Apply Coupon</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="right">
                                    <ul>
                                       
                                        <li>Cart Subtotal<span>@ViewBag.total.ToString("#,##0")</span></li>
                                        <li>Shipping<span>Free</span></li>
                                        <li>You Save<span>0</span></li>
                                        <li class="last">You Pay<span>@ViewBag.total.ToString("#,##0")</span></li>
                                    </ul>
                                    <div class="button">
                                        <a href="checkout.html" class="btn">Checkout</a>
                                        <a href="/" class="btn btn-alt">Continue shopping</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            }

            else
            {
                <tr>
                    <th colspan="7">Không có sản phẩm trong giỏ hàng!!</th>
                </tr>
            }




        </div>
    </div>
@section scripts {

   <script>
      $(document).ready(function() {
      $(".remove-item").click(function() {
         var id = $(this).attr('data-id');
        $(this).closest('.cart-single-list').remove(); // remove the parent element
         $.ajax({
                type: 'POST',
                url: '@Url.Action("RemoveFromCart", "Cart")',
                data: JSON.stringify({ ID: id }),
                contentType: 'application/json',
                dataType: 'json',
                encode: true
            }).done(function (data) {
                    if (data.success) {
                      
                    } else {
                        // handle error
                    }
                });
    });
});
    </script>

}
    