@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Mvc.Common

<section class="product-grids section">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-12">

                <div class="product-sidebar">

                    <div class="single-widget search">
                        <h3>Tìm kiếm</h3>
                        <form  method="get" asp-action="Index" asp-controller="Collections">
                            <input type="text" name="search" placeholder="Tìm kiếm tại đây...">
                            <button><i class="lni lni-search-alt"></i></button>
                        </form>
                    </div>


                    <div class="single-widget">
                        <h3>Tất cả các loại</h3>
                        <ul class="list">
                            <li>
                                <a href="#">Computers &amp; Accessories </a><span>(1138)</span>
                            </li>
                            <li>
                                <a href="#">Smartphones &amp; Tablets</a><span>(2356)</span>
                            </li>
                            <li>
                                <a href="#">TV, Video &amp; Audio</a><span>(420)</span>
                            </li>
                            <li>
                                <a href="#">Cameras, Photo &amp; Video</a><span>(874)</span>
                            </li>
                            <li>
                                <a href="#">Headphones</a><span>(1239)</span>
                            </li>
                            <li>
                                <a href="#">Wearable Electronics</a><span>(340)</span>
                            </li>
                            <li>
                                <a href="#">Printers &amp; Ink</a><span>(512)</span>
                            </li>
                        </ul>
                    </div>


                    <div class="single-widget range">
                        <h3>Price Range</h3>
                        <input type="range" class="form-range" name="range" step="1" min="100" max="10000" value="10" onchange="rangePrimary.value=value">
                        <div class="range-inner">
                            <label>$</label>
                            <input type="text" id="rangePrimary" placeholder="100">
                        </div>
                    </div>


                    <div class="single-widget condition">
                        <h3>Filter by Price</h3>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">
                            <label class="form-check-label" for="flexCheckDefault1">
                                $50 - $100L (208)
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
                            <label class="form-check-label" for="flexCheckDefault2">
                                $100L - $500 (311)
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3">
                            <label class="form-check-label" for="flexCheckDefault3">
                                $500 - $1,000 (485)
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault4">
                            <label class="form-check-label" for="flexCheckDefault4">
                                $1,000 - $5,000 (213)
                            </label>
                        </div>
                    </div>


                    <div class="single-widget condition">
                        <h3>Filter by Brand</h3>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault11">
                            <label class="form-check-label" for="flexCheckDefault11">
                                Apple (254)
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault22">
                            <label class="form-check-label" for="flexCheckDefault22">
                                Bosh (39)
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault33">
                            <label class="form-check-label" for="flexCheckDefault33">
                                Canon Inc. (128)
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault44">
                            <label class="form-check-label" for="flexCheckDefault44">
                                Dell (310)
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault55">
                            <label class="form-check-label" for="flexCheckDefault55">
                                Hewlett-Packard (42)
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault66">
                            <label class="form-check-label" for="flexCheckDefault66">
                                Hitachi (217)
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault77">
                            <label class="form-check-label" for="flexCheckDefault77">
                                LG Electronics (310)
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault88">
                            <label class="form-check-label" for="flexCheckDefault88">
                                Panasonic (74)
                            </label>
                        </div>
                    </div>

                </div>

            </div>
            <div class="col-lg-9 col-12">
                <div class="product-grids-head">
                    <div class="product-grid-topbar">
                        <div class="row align-items-center">
                            <div class="col-lg-7 col-md-8 col-12">
                                <div class="product-sorting">
                                    <label for="sorting">Sort by:</label>
                                    <select class="form-control" id="sorting">
                                        <option>Low - High Price</option>
                                        <option>High - Low Price</option>
                                        <option>A - Z Order</option>
                                        <option>Z - A Order</option>
                                    </select>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-grid" role="tabpanel" aria-labelledby="nav-grid-tab">
                            <div class="row">
                                @foreach (var item in ViewBag.OnePageOfProducts)
                                 {
                                <div class="col-lg-4 col-md-6 col-12">

                                    <div class="single-product">
                                        <div class="product-image">
                                            @if (item.Images.Count > 0)
                                            {
                                                    <img alt="#"src="data:@item.Images[0].FileType;base64,@Convert.ToBase64String(item.Images[0].Data)">
                                            }
                                            <div class="button">
                                                <a asp-action="Details" asp-controller="Product" asp-route-id="@item.Id" class="btn"> Xem Chi Tiết</a>
                                            </div>
                                        </div>
                                        <div class="product-info">
                                                <span class="category">@item.Category[0].Name</span>
                                            <h4 class="title">
                                                    <a href="#">@item.Name</a>
                                            </h4>
                                            <ul class="review">
                                                <li><i class="lni lni-star-filled"></i></li>
                                                <li><i class="lni lni-star-filled"></i></li>
                                                <li><i class="lni lni-star-filled"></i></li>
                                                <li><i class="lni lni-star-filled"></i></li>
                                                <li><i class="lni lni-star"></i></li>
                                                <li><span>4.0 Review(s)</span></li>
                                            </ul>
                                            <div class="price">
                                                    <span>@item.List_Inventory[0].Price</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                }
                                
                            </div>
                            <div class="row">
                                <div class="col-12">

                                   <div class="pagination left">
                                        <ul class="pagination-list">                                            
                                            @Html.PagedListPager( (IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("Index","Collections", new { page }),new X.PagedList.Web.Common.PagedListRenderOptions(){
                                            LiElementClasses = new string[] { "page-item" },
                                            PageClasses = new string[] { "page-link" },

                                            })
                                        </ul>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>